
{{>navigationAlquiler}}
<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounder-circle" src="https://cdn-icons-png.flaticon.com/512/6999/6999454.png" alt="Logo" style="width: 150px; height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4">Alquileres</h3>
            </div>
            <div class="card-body text-center">
                <p>Centraliza toda la información de los alquileres realizados, vinculando cada transacción con un cliente, un vehículo y un tipo de alquiler. Además, te permitirá registrar la fecha de inicio, la duración y el estado del alquiler.</p>
                <a href="/addAlquiler" class="btn btn-primary">Crear un alquiler</a>
            </div>
        </div>
    </div>
</main>