
{{>navigationTipo_Vehiculo}}
<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounder-circle" src="https://cdn-icons-png.flaticon.com/512/1652/1652704.png" alt="Logo" style="width: 150px; height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4">Tipo de Vehículo</h3>
            </div>
            <div class="card-body text-center">
                <p>Puedes definir las categorías de vehículos que alquilas, incluyendo información como su tarifa, capacidad de carga y tipo de combustible.</p>
                <a href="/addTipo_Vehiculo" class="btn btn-primary">Nueva tarifa de alquiler</a>
            </div>
        </div>
    </div>
</main>