<ul class="list-unstyled ps-0">
        <!-- Gestión de Personas -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed w-100 text-start fs-5 fw-semibold py-2 px-3 text-white"
                    data-bs-toggle="collapse" data-bs-target="#personas-collapse" aria-expanded="false">
                Gestión de Personas
            </button>
            <div class="collapse" id="personas-collapse">
                <ul class="btn-toggle-nav list-unstyled pb-1 small">
                    <li><a class="nav-link fs-6 px-4 py-1" href="/Socios">Socios</a></li>
                </ul>
            </div>
        </li>

        <!-- Gestión de Vehículos -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed w-100 text-start fs-5 fw-semibold py-2 px-3 text-white"
                    data-bs-toggle="collapse" data-bs-target="#vehiculos-collapse" aria-expanded="false">
                Gestión de Vehículos
            </button>
            <div class="collapse" id="vehiculos-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="nav-link fs-6 px-4 py-1" href="/tipo_alquiler">Modificaciones de alquiler</a></li>
                </ul>
            </div>
        </li>

        <!-- Gestión de Alquileres -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed w-100 text-start fs-5 fw-semibold py-2 px-3 text-white"
                    data-bs-toggle="collapse" data-bs-target="#alquileres-collapse" aria-expanded="false">
                Gestión de Alquileres
            </button>
            <div class="collapse" id="alquileres-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="nav-link fs-6 px-4 py-1" href="/alquiler">Alquileres</a></li>
                    <li><a class="nav-link fs-6 px-4 py-1" href="/Factura">Facturas</a></li>
                </ul>
            </div>
        </li>

    </ul>