<ul class="list-unstyled ps-0">

        <!-- Gestión de Vehículos -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed w-100 text-start fs-5 fw-semibold py-2 px-3 text-white"
                    data-bs-toggle="collapse" data-bs-target="#vehiculos-collapse" aria-expanded="false">
                Gestión de Mantenimiento
            </button>
            <div class="collapse" id="vehiculos-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="nav-link fs-6 px-4 py-1" href="/Taller">Taller</a></li>
                    <li><a class="nav-link fs-6 px-4 py-1" href="/Mantenimiento">Mantenimientos</a></li>
                </ul>
            </div>
        </li>
