<ul class="list-unstyled ps-0">
        <!-- Gestión de Personas -->
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed w-100 text-start fs-5 fw-semibold py-2 px-3 text-white"
                    data-bs-toggle="collapse" data-bs-target="#personas-collapse" aria-expanded="false">
                Cliente
            </button>
            <div class="collapse" id="personas-collapse">
                
            </div>
        </li>