<nav class="navbar navbar-expand-lg bg-dark" style="height: 68px;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center text-center" id="navbarNav">
      <ul class="navbar-nav mx-auto nav btn-group btn-group-lg list-unstyled" role="group" aria-label="Basic example">
        <li class="nav-item d-inline-block mx-2">
          <a type="button" class="btn btn-outline-light" aria-current="page" href="/Tipo_Vehiculo">Inicio</a>
        </li>
        <li class="nav-item d-inline-block mx-2">
          <a type="button" class="btn btn-outline-light" href="/addTipo_Vehiculo">Crear</a>
        </li>
        <li class="nav-item d-inline-block mx-2">
          <a type="button" class="btn btn-outline-light" href="/listTipo_Vehiculo">Listar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

